body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.logo {
    max-width: 200px;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.instagram-btn {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding-top: 100px;
}

.services {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 55px;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.services li:last-child {
    margin-bottom: 0;
}

.services li span {
    font-weight: bold;
}

.services li span.service-name {
    margin-left: 17px;
}

.services li span.price {
    color: #888;
    margin-right: 17px;
}

.services h2 {
    margin-bottom: 20px;
}

.gallery {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.location {
    text-align: center; 
  }
  
  .map-container {
    max-width: 100%; 
    margin: 0 auto; 
  }
  
  .map-container iframe {
    width: 100%; 
    max-width: 600px; 
    height: 450px; 
  }
  .map-container iframe {
    filter: invert(90%) hue-rotate(180deg);
  }

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    
}

.social {
    margin: 0.9rem 0;
}

.social img {
    width: 20px;
    height: 20px;
}

.social a {
    margin: 0 0.5rem;
}
a:hover 
{
  opacity: 0.6;
}